/*
	Импорт базовых стилей
*/

@import url(/saycheese/assets/styles/import/basic.css);

/*
	Импорт стилей для нава и футера
*/

@import url(/saycheese/assets/styles/import/nav_footer.css);

/*
	Импорт стилей для блока с сообщением о статусе операции
*/

@import url(/saycheese/assets/styles/import/message.css);

/*
	Импорт стилей для блока с сообщением об ошибки
*/

@import url(/saycheese/assets/styles/import/message_error.css);

*{
	overflow-x: hidden;
}

/*
	Основной контент
*/

.basket-content{
	width: 100vw;
	padding-bottom: calc(1vh + 1vw * 8);
}
.basket-wrapper{
	width: 89%;
	margin: 0 auto;
}
.basket-headline-block{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	margin-top: calc(1vh + 1vw * 10);
	margin-left: calc(1vh + 1vw * 1);
}
.basket-headline{
	font-family: 'Montserrat-Black';
	color: #747E65;
	font-size: calc(1vh + 1vw * 1.5);
	margin: auto 0;
}
.del_all_basket{
	margin: auto calc(1vh + 1vw * 1);
	font-family: 'Montserrat-Light';
	color: #8E997E;
	font-size: calc(1vh + 1vw * .25);
	cursor: pointer;
}
.basket-main-block{
	width: 100%;
	display: flex;
	justify-content: flex-start;
}
.basket-items-block{
	width: 50%;
}

/*
	Стили для товаров из корзины
*/

.basket-items-list{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: calc(1vh + 1vw * 2);
	padding: calc(1vh + 1vw * 1);
	padding-bottom: calc(1vh + 1vw * 7)
}
.basket-item{
	width: calc(1vh + 1vw * 19);
	height: calc(1vh + 1vw * 26); 
	margin-bottom: calc(1vh + 1vw * 2.2);
	position: inherit;
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.1);
}
.item-img-block{
	width: 100%;
	height: calc(1vh + 1vw * 14);
	border-bottom: 1px solid #cccccc;
	display: flex;
}
.item-img{
	width: 100%;
	height: 100%;
	background-size: calc(1vh + 1vw * 10);
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
}
.item-info-block{
	width: 100%;
	height: calc(1vh + 1vw * 7.5);
	position: relative;
}
.item-name-block{
	margin-left: calc(1vh + 1vw * 1);
	margin-top: calc(1vh + 1vw * 1);
	width: 80%;
}
.item-name{
	font-family: 'Montserrat-Medium';
	color: #000;
	font-size: calc(1vh + 1vw * .3);
	word-wrap: break-word;
}
.item-price-block{
	margin-left: calc(1vh + 1vw * 1);
	width: 80%;
	padding-top: calc(1vh + 1vw * .1);
}
.item-price{
	font-family: 'Montserrat-Light';
	color: #000;
	font-size: calc(1vh + 1vw * .25);
	word-wrap: break-word;
}
.item-btns-block{
	width: 100%;
	height: calc(1vh + 1vw * 2.3);
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.btn-add-one{
	width: 40%;
	height: 100%;
	background-color: #747E65;
	display: flex;
	transition: all .2s ease-in-out;
	cursor: pointer;
	user-select: none;
}
.btn-add-one:hover{
	width: 60%;
}
.btn-remove-one{
	width: 40%;
	height: 100%;
	background-color: #8E997E;
	display: flex;
	transition: all .2s ease-in-out;
	cursor: pointer;
	user-select: none;
}
.btn-remove-one:hover{
	width: 60%;
}
.basket-items-count-block{
	width: 20%;
	height: 100%;
	background-color: #C6C6C6;
	display: flex;
}
.btn-text{
	margin: auto;
	font-family: 'Montserrat-Bold';
	color: #ffffff;
	font-size: calc(1vh + 1vw * 1);
	user-select: none;
}
.basket-item-count{
	margin: auto;
	font-family: 'Montserrat-Light';
	color: #000;
	font-size: calc(1vh + 1vw * .5);
}

/*
	Блок, сообщабщий, что корзина пуста
*/

.basket-no-items-block{
	width: 100%;
	display: flex;
	margin-top: calc(1vh + 1vw * 15);
}
.basket-no-item-wrapper{
	margin: auto;
}
.basket-no-item-img{
	width: calc(1vh + 1vw * 7);
	height: calc(1vh + 1vw * 7);
	margin-left: calc(1vh + 1vw * .3);
	background-image: url(/saycheese/assets/images/icons/ghost.jpg);
	background-size: cover;
}
.basket-no-items{
	text-align: center;
	font-family: 'Montserrat-Medium';
	color: #999999;
	font-size: calc(1vh + 1vw * .5);
}

/*
	Стили для формы создания заказа
*/

.create-order-block{
	width: 50%;
	display: flex;
	overflow: hidden;
}
.create-order-content{
	width: 90%;
	height: calc(1vh + 1vw * 54);
	margin: 0 auto;
	margin-top: calc(1vh + 1vw * 3.4);
	overflow: hidden;
	box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.1);
}
.total-price-block{
	width: 100%;
	height: 13%;
	background-color: #8E997E;
	display: flex;
}
.total-price{
	font-family: 'Montserrat-Bold';
	font-size: calc(1vh + 1vw * 1);
	margin: auto;
	color: #fff;
}
.create-order-form{
	width: 100%;
	height: 87%;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.create-order-headline-block{
	width: 100%;
	position: relative;
	top: calc(1vh + 1vw * 4);
	left: calc(1vh + 1vw * 3);
}
.create-order-headline{
	font-family: 'Montserrat-Bold';
	font-size: calc(1vh + 1vw * .7);
	color: #747E65;
}
form{
	width: 100%;
	height: 100%;
	padding: calc(1vh + 1vw * 3);
	margin-top: calc(1vh + 1vw * 1);
}
input:first-child{
	margin-top: calc(1vh + 1vw * 2);
}
input[type=text], input[type=number]{
	border: none;
	outline: none;
	box-shadow: none;
	background: transparent;
	border-bottom: 1px solid #8E997E;
	width: calc(1vh + 1vw * 21);
	height: calc(1vh + 1vw * 1.3);
	font-family: 'Montserrat-Light';
	font-size: calc(1vh + 1vw * .25);
	margin-bottom: calc(1vh + 1vw * 1.5);
}

.input-radio{
  position: absolute;
  z-index: -1;
  opacity: 0;
	transition: all .2s ease-in-out;
}
#input-radio1+label{
	margin-left: 0;
}
.input-radio+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	transition: all .2s ease-in-out;
	font-family: 'Montserrat-Light';
	font-size: calc(1vh + 1vw * .3);
	margin-bottom: calc(1vh + 1vw * .5);
	margin-left: calc(1vh + 1vw * 2.3);
}
.input-radio+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: calc(.1vh + .1vw * .1) solid #adb5bd;
	border-radius: 50%;
	margin-right: calc(.5vh + .5vw * .1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.input-radio:checked+label::before {
  box-shadow: 0px 0px 0px calc(.3vh + .3vw * .1) #fff inset;
	background-color: #8E997E;
	transition: all .2s ease-in-out;
}
.input-radio:not(:disabled):not(:checked)+label:hover::before {
	box-shadow: 0px 0px 0px calc(.1vh + .1vw * .1) #8E997E inset;
	transition: all .2s ease-in-out;
}
.input-radio:not(:disabled):active+label::before {
  background-color: #cad4bb;
  border-color: #8E997E;
	transition: all .2s ease-in-out;
}
.input-radio:focus:not(:checked)+label::before {
  border-color: #8E997E;
	transition: all .2s ease-in-out;
}
.input-radio:disabled+label::before {
  background-color: #8E997E;
	transition: all .2s ease-in-out;
}

.btn_create_order{
	width: 100%;
	height: 10%;
	background-color: #747E65;
	position: absolute;
	bottom: 0;
	left: 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	font-family: 'Montserrat-Light';
	font-size: calc(1vh + 1vw * .25);
	color: #fff;
	transition: all .2s ease-in-out;
}
.btn_create_order[disabled]{
	background-color: #C6C6C6;
	cursor: default;
}
.btn_create_order[disabled]:hover{
	background-color: #C6C6C6;
}
.btn_create_order:hover{
	background-color: #8E997E;
}
